$copyright: "2020 François Ubald Brien";

$palette1: #a2bdc1;
$palette2: #a7a2c1;
$palette3: #c1a2be;
$palette4: #c1a2a2;
$palette5: #c1bca2;
$palette6: #a4c1a2;

$category-default: $palette1;
$category-rant: $palette4;
$category-architecture: $palette5;

@mixin categoryColor {
    color: $category-default;
    .category-rant & {
        color: $category-rant;
    }
}

@mixin categoryBackground {
    background-color: $category-default;
    .category-rant & {
        background-color: $category-rant;
    }
}

$invertedBackground: #222;
$invertedTitleColor: $palette1;
$invertedForegroundColor: #eee;
$invertedMediumTextColor: #aaa;
$invertedDarkerTextColor: #666;
$invertedLinkColor: #eee;
$pageBackground: #eee;
$headingColor: #3c3c3c;
$textColor: #333;
$subduedTextColor: #777;
$decorationColor: #ccc;

@import "mixins";
@import "reset";
@import "base";
@import "typography";
@import "layout";
@import "page";
@import "post";
@import "syntax";
