*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

// Prevent adjustments of font size after orientation changes in iOS.
html {
}

hr {
    height: 0;
    color: inherit;
}

a {
    text-decoration: none;
    color: $invertedLinkColor;
}

img {
    display: block;
}
