<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "internal/analytics" . -}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ partial "values/title" . }}</title>
    <meta name="description" content="{{ .Params.Description | default .Params.Summary | default .Site.Params.Description }}"/>
    {{ $sass := resources.Get "style/main.scss" | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint -}}
    <link rel="stylesheet" href="{{ $sass.Permalink }}" media="screen"/>
    <script src="https://kit.fontawesome.com/7f3bbce892.js" crossorigin="anonymous" defer></script>
    {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title | safeHTML }}" />
    {{- end -}}
    {{- partial "internal/meta" . -}}
</head>
<body>
    <div class="container">
        <header class="main-header">
            {{ partial "logo" . }}
            {{ partial "menu" . }}
        </header>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="main-footer">
            {{ partial "logo" . }}
            {{ partial "menu" . }}
            <div class="copyright">{{ .Site.Copyright }}</div>
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>