{{- define "main" -}}
<ol class="posts">
    {{- range .Paginator.Pages }}
    <li>
        <article class='type-{{ .Type }} {{ if isset .Params "categories" }}category-{{ index (split .Params.categories " ") 0 }}{{ end }}'>
            <header>
                <h2 class="title" aria-label="Post title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                {{ partial "metadata" . }}
            </header>
            <section class="content excerpt" aria-label="Excerpt">
                &gt;&nbsp;{{ .Summary }}
            </section>
        </article>
    </li>
    {{- end }}
</ol>
{{- partial "pagination" . -}}
{{- end -}}