{{- define "main" -}}
{{- if isset .Params "poster" -}} 
    {{- $poster := .Resources.GetMatch .Params.poster -}}
    {{- if $poster -}} 
        {{- .Scratch.Set "poster" ($poster.Fit "1600x1600 q80 jpg") -}}
    {{- else -}}
        {{- $poster := resources.Get .Params.poster -}}
        {{- if $poster -}} 
            {{- .Scratch.Set "poster" ($poster.Fit "1600x1600 q80 jpg") -}}
        {{- end -}}
    {{- end -}} 
{{- end -}} 
{{- $poster := .Scratch.Get "poster" -}}

<article class='{{ .Kind }} type-{{ .Type }} {{ if isset .Params "categories" }} category-{{ index .Params.Categories 0 }}{{ end }}'>
    <header class="cover">
        {{- if $poster -}}
        <img src="{{ $poster.Permalink }}" class="poster" aria-hidden="true"/>
        {{- end }}
        <div class="titling">
            {{ if eq .Parent.Type "series" -}}
                <h3 class="subtitle" aria-label="Post series">{{ .Parent.Title }} Part {{ partial "values/series-part-number" . }}</h3>
            {{- end }}
            <h1 class="title" aria-label="Post title">{{ .Title }}</h1>
            <div class="excerpt" aria-label="Excerpt">
                <span class="prompt">&gt;</span>&nbsp;<span class="input">{{ .Summary }}</span>
            </div>
        </div>
        {{ if not (eq .Type "authors") -}}
        {{- partial "metadata" . -}}
        {{- end }}
    </header>
    <section class="content page">
        {{ partial "series" . }}
        {{ .Content }}
        {{ partial "series" . }}
        {{ if not (eq .Type "authors") -}}
        <hr/>
        {{- partial "author" . -}}
        {{- end }}
    </section>
</article>
{{ end }}
