---
# Main Stylesheet for the site
---

$copyright: "2020 François Ubald Brien";

$invertedBackground: #222;
$invertedTitleColor: #a2bdc1;
$invertedForegroundColor: #eee;
$invertedMediumTextColor: #aaa;
$invertedDarkerTextColor: #666;
$invertedLinkColor: #eee;
$pageBackground: #eee;
$textColor: #333;

@import "mixins";
@import "reset";
@import "base";
@import "typography";
@import "layout";
@import "page";
@import "post";
@import "syntax";

.baseline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(300, $leading);
    grid-gap: 0px;
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
}

.debug {
    display: none;
    background: red;
    width: 300px;
    height: 300px;
    position: absolute;
}
