{{ define "main" }}

{{ if isset .Params "poster" }}
{{ $poster := resources.Get .Params.poster }}
{{ if $poster }}
{{ if .Params.poster_monochrome }}
{{ .Scratch.Set "poster" ($poster.Fit "1600x1600 q80 jpg" | images.Filter images.Grayscale ) }}
{{ else }}
{{ .Scratch.Set "poster" ($poster.Fit "1600x1600 q80 jpg" ) }}
{{ end }}
{{ end }}
{{ end }}
{{ $poster := .Scratch.Get "poster" }}

<article class="home">
    <header class="cover">
        {{ if $poster }}
        <img src="{{ $poster.Permalink }}" class="poster" aria-hidden="true"/>
        {{ end }}
        <div class="titling">
            <h1 class="title" aria-label="Title">{{ .Params.title }}</h1>
            {{ with .Summary }}
            <div class="excerpt" aria-label="Excerpt">
                <span class="prompt">&gt;</span>&nbsp;<span class="input">{{ . }}</span>
            </div>
            {{ end }}
        </div>
    </header>
</article>
{{ end }}