{{ define "main" }}

{{ if isset .Params "poster" }}
{{ $poster := resources.Get .Params.poster }}
{{ if $poster }}
{{ .Scratch.Set "poster" ($poster.Fit "1600x1600 q80 jpg") }}
{{ end }}
{{ end }}
{{ $poster := .Scratch.Get "poster" }}

<article class="home">
    <header>
        {{ if $poster }}
        <img src="{{ $poster.Permalink }}" class="poster" />
        {{ end }}
        <div class="titling">
            <h1 class="title">{{ .Params.title }}</h1>
            {{ with .Summary }}
            <div class="excerpt">
                &gt;&nbsp;{{ . }}
            </div>
            {{ end }}
        </div>
    </header>
</article>
{{ end }}