---
layout: "default"
---

<article class="home">
    <header>
        <h1 class="title">{{page.title}}</h1>
        <div class="excerpt">{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape }}</div>
        <div class="metadata">
            <span class="author"><a href="{{author.url}}">{{author.name}}</a></span>
            <span class="date"></span>{{ page.date | date_to_long_string }}</span>
        </div>
    </header>
    <div class="page">
        <section class="content">{{ content }}</section>
    </div>
</article>
